In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

In [2]:
def laplace_gen(n):
    return np.random.laplace(0, 1 / np.sqrt(2), n)

def poisson_gen(n):
    return np.random.poisson(10, n)

def uniform_gen(n):
    return np.random.uniform(-np.sqrt(3), np.sqrt(3), n)

def E(z):
    return np.mean(z)

def D(z):
    return np.var(z)

def z_R(X):
    return (np.amin(X) + np.amax(X)) / 2

def z_Q(X):
    return (np.quantile(X, 1 / 4) + np.quantile(X, 3 / 4)) / 2

def z_tr(X):
    n = X.size
    r = n // 4
    sum = 0
    
    for i in range(r + 1, n - r + 1):
        sum += X[i]
        
    return sum / (n - 2 * r)

distr_gen = {
    'standard_normal' : np.random.standard_normal,
    'standard_cauchy' : np.random.standard_cauchy,
    'laplace' : laplace_gen,
    'poisson' : poisson_gen,
    'uniform' : uniform_gen
}

power = [10, 100, 1000]
np.random.seed(1)

def discard(x, n):
    return ('{0:.' + str(n) + 'f}').format(x).rstrip('0').rstrip('.')

In [3]:
for distr_name in distr_gen.keys():
    for n in power:
        stats = {
            'mean' : [],
            'med' : [],
            'z_R' : [],
            'z_Q' : [],
            'z_tr' : []
        }
        
        for i in range(1000):
            X = np.sort(distr_gen[distr_name](n))
            
            stats['mean'].append(np.mean(X))
            stats['med'].append(np.median(X))
            stats['z_R'].append(z_R(X))
            stats['z_Q'].append(z_Q(X))
            stats['z_tr'].append(z_tr(X))
        
        table = pd.DataFrame(
            np.array(
                [
                    [discard(E(z), 2) for z in stats.values()],
                    [discard(D(z), 6) for z in stats.values()]
                ],
            )
        )
        table.index = ['E(z)', 'D(z)']
        table.columns = stats.keys()
        table.columns.name = str(' n=') + str(n)
        
        display(table)

 n=10      mean      med       z_R      z_Q      z_tr
E(z)       0.01     0.01      0.02        0      0.28
D(z)   0.097848  0.12874  0.190887  0.11015  0.109265

 n=100      mean       med       z_R       z_Q      z_tr
E(z)           0         0         0        -0      0.03
D(z)    0.009964  0.015673  0.093959  0.012457  0.011819

 n=1000     mean       med       z_R      z_Q      z_tr
E(z)           0         0        -0        0         0
D(z)     0.00094  0.001552  0.062108  0.00116  0.001157

 n=10           mean       med            z_R       z_Q      z_tr
E(z)          -12.31         0         -61.48     -0.02      0.65
D(z)   161834.047069  0.276286  4045976.36516  0.750808  0.918042

 n=100        mean      med             z_R      z_Q      z_tr
E(z)         -0.52       -0          -24.32    -0.01      0.03
D(z)    875.221257  0.02564  2090211.365057  0.05555  0.028177

 n=1000        mean       med               z_R       z_Q      z_tr
E(z)           -0.4         0           -198.59        -0         0
D(z)     520.951391  0.002476  128259873.764481  0.004587  0.002515

 n=10      mean       med       z_R       z_Q      z_tr
E(z)          0      0.01         0         0      0.23
D(z)   0.098106  0.066493  0.405711  0.085741  0.078464

 n=100      mean       med       z_R       z_Q      z_tr
E(z)           0         0        -0         0      0.02
D(z)    0.010295  0.005968  0.419241  0.010031  0.006175

 n=1000     mean       med       z_R      z_Q      z_tr
E(z)           0         0      0.02        0         0
D(z)     0.00102  0.000534  0.404961  0.00103  0.000639

 n=10      mean       med       z_R       z_Q      z_tr
E(z)       9.98      9.82     10.29      9.89     10.74
D(z)   0.939362  1.378308  1.653056  1.114103  1.202277

 n=100      mean       med       z_R       z_Q      z_tr
E(z)       10.01      9.85        11      9.91      9.95
D(z)    0.098454  0.202596  0.987738  0.156002  0.121359

 n=1000      mean       med       z_R       z_Q      z_tr
E(z)           10        10     11.66      9.99      9.87
D(z)     0.010283  0.002991  0.689351  0.004562  0.010918

 n=10     mean       med       z_R       z_Q      z_tr
E(z)     -0.03     -0.03     -0.01     -0.03      0.29
D(z)   0.09994  0.228635  0.048268  0.138834  0.156282

 n=100      mean      med       z_R       z_Q      z_tr
E(z)           0        0         0         0      0.04
D(z)    0.009809  0.02806  0.000538  0.014772  0.019395

 n=1000     mean      med       z_R       z_Q      z_tr
E(z)           0       -0        -0         0         0
D(z)     0.00096  0.00287  0.000006  0.001504  0.001887