In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

In [2]:
def laplace_gen(n):
    return np.random.laplace(0, 1 / np.sqrt(2), n)

def poisson_gen(n):
    return np.random.poisson(10, n)

def uniform_gen(n):
    return np.random.uniform(-np.sqrt(3), np.sqrt(3), n)

def E(z):
    return np.mean(z)

def D(z):
    return np.var(z)

def z_R(X):
    return (np.amin(X) + np.amax(X)) / 2

def z_Q(X):
    return (np.quantile(X, 1 / 4) + np.quantile(X, 3 / 4)) / 2

def z_tr(X):
    n = X.size
    r = n // 4
    sum = 0
    
    for i in range(r + 1, n - r + 1):
        sum += X[i]
        
    return sum / (n - 2 * r)

distr_gen = {
    'standard_normal' : np.random.standard_normal,
    'standard_cauchy' : np.random.standard_cauchy,
    'laplace' : laplace_gen,
    'poisson' : poisson_gen,
    'uniform' : uniform_gen
}

power = [10, 100, 1000]
np.random.seed(1)

In [3]:
for distr_name in distr_gen.keys():
    for n in power:
        stats = {
            'mean' : [],
            'med' : [],
            'z_R' : [],
            'z_Q' : [],
            'z_tr' : []
        }
        
        for i in range(1000):
            X = distr_gen[distr_name](n)
            
            stats['mean'].append(np.mean(X))
            stats['med'].append(np.median(X))
            stats['z_R'].append(z_R(X))
            stats['z_Q'].append(z_Q(X))
            stats['z_tr'].append(z_tr(X))
        
        table = pd.DataFrame(np.array(
                [[E(z) for z in stats.values()],
                 [D(z) for z in stats.values()]]
            ))
        table.index = ['E(z)', 'D(z)']
        table.columns = stats.keys()
        table.columns.name = str(' n=') + str(n)
        
        display(table)

 n=10      mean       med       z_R       z_Q      z_tr
E(z)   0.009773  0.008853  0.019712  0.003966  0.021376
D(z)   0.097848  0.128740  0.190887  0.110150  0.160456

 n=100      mean       med       z_R       z_Q      z_tr
E(z)    0.003273  0.003452  0.002322 -0.000084  0.003374
D(z)    0.009964  0.015673  0.093959  0.012457  0.020648

 n=1000      mean       med       z_R      z_Q      z_tr
E(z)     0.000905  0.000723 -0.000894  0.00124  0.000420
D(z)     0.000940  0.001552  0.062108  0.00116  0.001945

 n=10           mean       med           z_R       z_Q           z_tr
E(z)      -12.309807  0.004064 -6.148294e+01 -0.016856     -20.416613
D(z)   161834.047069  0.276286  4.045976e+06  0.750808  448912.991232

 n=100        mean       med           z_R       z_Q         z_tr
E(z)     -0.523585 -0.004339 -2.431580e+01 -0.006744     0.948759
D(z)    875.221257  0.025640  2.090211e+06  0.055550  1124.344348

 n=1000        mean       med           z_R       z_Q        z_tr
E(z)      -0.404621  0.000934 -1.985864e+02 -0.000136    0.175097
D(z)     520.951391  0.002476  1.282599e+08  0.004587  995.705649

 n=10      mean       med       z_R       z_Q      z_tr
E(z)   0.000229  0.006801  0.003777  0.001469 -0.000735
D(z)   0.098106  0.066493  0.405711  0.085741  0.163438

 n=100      mean       med       z_R       z_Q      z_tr
E(z)    0.003109  0.002424 -0.002923  0.003922 -0.003257
D(z)    0.010295  0.005968  0.419241  0.010031  0.019170

 n=1000      mean       med       z_R       z_Q      z_tr
E(z)     0.000696  0.000528  0.017757  0.001273  0.001895
D(z)     0.001020  0.000534  0.404961  0.001030  0.002020

 n=10      mean       med        z_R       z_Q      z_tr
E(z)   9.979300  9.818500  10.288000  9.885750  9.957500
D(z)   0.939362  1.378308   1.653056  1.114103  1.550555

 n=100       mean       med        z_R       z_Q       z_tr
E(z)    10.010780  9.852000  10.996500  9.914500  10.022340
D(z)     0.098454  0.202596   0.987738  0.156002   0.201905

 n=1000       mean       med        z_R       z_Q      z_tr
E(z)     10.000941  9.997000  11.657000  9.991125  9.999796
D(z)      0.010283  0.002991   0.689351  0.004562  0.019172

 n=10      mean       med       z_R       z_Q      z_tr
E(z)  -0.026104 -0.034972 -0.014265 -0.028204 -0.034356
D(z)   0.099940  0.228635  0.048268  0.138834  0.170442

 n=100      mean       med       z_R       z_Q      z_tr
E(z)    0.003063  0.004823  0.000906  0.003369  0.010592
D(z)    0.009809  0.028060  0.000538  0.014772  0.019582

 n=1000      mean       med       z_R       z_Q      z_tr
E(z)     0.000368 -0.000764 -0.000029  0.000347  0.000398
D(z)     0.000960  0.002870  0.000006  0.001504  0.001909